/* ...................................style universal........................ */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

/*............................... style body............................................. */
/* ..........header part....... */
header {
    background: rgba(255, 144, 14, 0.1);
}

/*............................... navigation style...................................... */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding-top: 50px;
}

.nav-title {
    font-size: 45px;
    color: #131313;
}

nav ul {
    list-style: none;
    display: flex;

}

nav ul li {
    margin-left: 34px;
}

nav ul li a {
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

/*.................... header-banner.......................................... */
/* .....banner-details..... */
.banner {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.banner-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  


}

.banner-title {
    font-size: 64px;
    text-align: center;
    color: #131313;

}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #727272;
    margin-bottom: 32px;

}

.btn-primary {
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
}

/*.......... banner-iamge...... */

.banner-image{
   /*  margin: 0 240px 45px; */
}
.banner-image img {
 /*  width: 1440px;  */
  width: 100%; 
    height: 700px;
    border-radius: 8px;
     margin-bottom: 45px; 
}


/*........................ main-part...................................................... */


/* .......feature-list-banner...... */
.feature-list-banner{
    display: flex;
}

/*....... feature-team...... */
.feature-team{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}